/* Spotify black */
/* Spotify green */
/* Spotify white */
/* Buttons */
.saveSong {
  border: none;
  background-color: #2c3134;
}

#heart {
  color: #812f2f;
}

#heart:hover {
  color: red;
}

.removeSong {
  border: none;
  background-color: #2c3134;
}

.remove {
  color: #812f2f;
}

.remove:hover {
  color: red;
}

#removeUser {
  margin-left: 20px;
}

#removeItem {
  text-align: right;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.navigation-items {
  color: #1DB954;
  margin: 0 30px;
  padding: 0;
}

.navigation-items:hover {
  color: #efefef;
}

.nav-color {
  background-color: #2c3134;
}

.sidebar {
  margin: 20px;
  display: inline-block;
  color: #efefef;
  border: 1px solid black;
  width: 80%;
}

.sidebar-items {
  padding: 20px;
  background-color: #2c3134;
  border: 1px solid black;
}

.sidebar-items a {
  text-decoration: none;
  color: #efefef;
}

.sidebar-items:hover {
  border: 1px solid #efefef;
}

/* Playlists/tracks/favorites cards */
.sidebarPlaylists {
  background-color: #2c3134;
  margin: 20px;
  display: inline-block;
  color: #efefef;
  border: 1px solid black;
  width: 30%;
}

.sidebarPlaylists:hover {
  border: 1px solid #efefef;
}

.sidebarTracks {
  background-color: #2c3134;
  margin: 20px;
  display: inline-block;
  color: #efefef;
  border: 1px solid black;
  width: 30%;
}

.sidebarTracks:hover {
  border: 1px solid #efefef;
}

.sidebarFavorites {
  background-color: #2c3134;
  margin: 20px;
  display: inline-block;
  color: #efefef;
  border: 1px solid black;
  width: 30%;
}

.sidebarFavorites:hover {
  border: 1px solid #efefef;
}

/* No wrap text */
.playlist-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.track-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

/* Play in spotify  */
.play-text {
  display: inline;
  margin-left: 10px;
}

/* Vertical text */
#library-text {
  font-size: 70px;
  color: #2c3134;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
  transform-origin: 0 0;
  text-shadow: 0 5px 0 #efefef;
}

/* CONTACT FORM */
#contact-page {
  background-color: #1DB954;
  color: #efefef;
  text-align: center;
}

.favorites-page {
  background-color: #1DB954;
}

#home-page {
  background-color: #1DB954;
}

#contact-page h2 {
  margin: 50px 0;
}

#form input {
  margin: 20px 0;
  border-radius: 5px;
}

#form label {
  width: 80px;
}

#contact-container {
  background-color: #2c3134;
  padding: 20px;
  margin: 15px;
  height: 95%;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 10px #383737;
}

#contact-container:hover {
  opacity: 1;
}

#contact-container button {
  margin: 20px;
  width: 80px;
  background-color: #1DB954;
  color: #efefef;
  border: none;
  opacity: 0.7;
  text-align: center;
  box-shadow: 0px 0px 8px 3px  gray;
}

#contact-container button:hover {
  opacity: 1;
  transition: 1s ease;
}

.item1 li {
  display: inline-table;
  width: 120px;
  height: 30px;
}

.item2 {
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.item2 li {
  display: inline-table;
  width: 120px;
  height: 30px;
}

.userInfo ul li {
  list-style-type: none;
}

#dialog {
  text-align: left;
}

.navbar button {
  display: none;
}

.navbar #myLinks {
  display: none;
}

@media (max-width: 600px) {
  html {
    font-size: 13px;
  }
  nav #navbar-logo {
    height: 40%;
    width: 40%;
  }
  .navbar ul.nav {
    display: none;
  }
  .navbar button {
    display: inline;
    border: none;
    background: none;
    color: #1DB954;
  }
  .navbar #myLinks {
    display: none;
  }
  .navbar #myLinks a {
    text-decoration: none;
    color: #1DB954;
  }
  .navbar #myLinks .vl {
    border: 1px solid green;
    height: 20px;
    width: 0;
    margin: 0 3px;
  }
  #library-text {
    font-size: 40px;
    margin-bottom: 50px;
  }
  #contact-container {
    margin: 20px 0 0 0;
    padding: 10px;
    font-size: 13px;
  }
  #contact-container h2 {
    margin: 20px 0;
  }
  #contact-container input {
    margin: 10px 0;
  }
  #contact-container button {
    margin: 10px;
  }
  .sidebar {
    width: 100px;
  }
  div.playlist-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.playlist-cards .sidebarPlaylists {
    width: 130px;
  }
  div.playlist-cards .sidebarPlaylists img {
    width: 130px;
  }
  div.track-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.track-cards .sidebarTracks {
    width: 130px;
  }
  div.track-cards .sidebarTracks img {
    width: 130px;
  }
  div.favorite-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  div.favorite-cards .sidebarFavorites {
    width: 180px;
  }
  div.favorite-cards .sidebarFavorites img {
    width: 180px;
  }
  #dialog {
    width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */