/* Buttons */
.saveSong {
    border: none;
    background-color: $black-color;
}
#heart {
    color: rgb(129, 47, 47);;

    &:hover {
        color:red;
    }
}
.removeSong {
    border: none;
    background-color: $black-color;
}
.remove {
    color: rgb(129, 47, 47);

    &:hover {
        color: red;
    }
}

// Contact dialog buttons
#removeUser {
    margin-left: 20px;
}

#removeItem {
    text-align: right;
}
