@media (max-width: 600px) {
    html {
        font-size: 13px;
    }
    // Navbar
    nav {
        #navbar-logo {
            height: 40%;
            width: 40%;
        }
    }

    .navbar {
        // Hide navbar items when on mobile
        ul.nav {
            display: none;
        }
        button {
            display: inline;
            // border: 1px solid $green-color;
            // border-radius: 2px;
            border: none;
            background: none;
            color: $green-color;
        }
        #myLinks {
            display: none;
            // border: 1px solid $green-color;
            // padding: 2px;
            // transition: 1s ease-in;
            a {
                text-decoration: none;
                color: $green-color;
            }
            .vl {
                border: 1px solid green;
                height: 20px;
                width: 0;
                margin: 0 3px;
              }
        }
    }

    // Vertical text
    #library-text {
        font-size: 40px;
        margin-bottom: 50px;
    }

    // Contact from
    #contact-container {
        margin: 20px 0 0 0;
        padding: 10px;
        font-size: 13px;

        h2 {
            margin: 20px 0;
        }
        input {
            margin: 10px 0;
        }
        button {
            margin: 10px;
        }
    }

    // Categories
    .sidebar {
        width: 100px;
    }

    // Playlists
    div.playlist-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidebarPlaylists {
            width: 130px;

            img {
                width: 130px;
            }
        }
    }

    // Songs
    div.track-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidebarTracks {
            width: 130px;

            img {
                width: 130px;
            }
        }
    }

    // Favorites
    div.favorite-cards {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .sidebarFavorites {
            width: 180px;

            img {
                width: 180px;
            }
        }
    }

    #dialog {
        width: 400px;
    }
}