@import "config";
@import "buttons";

body {
    font-family: $font;
}

// Navbar items styling 
.navigation-items {
    color: $green-color;
    margin: 0 30px;
    padding: 0;

    &:hover {
        color:$white-color;
    }
}
// Navbar bg color 
.nav-color {
    background-color: $black-color;
}

// Categories ul
.sidebar {
    margin: 20px;
    display: inline-block;
    color: $white-color;
    border: 1px solid black;
    width: 80%; 
}
// Categories li
.sidebar-items {
    padding: 20px;
    background-color: $black-color;
    border: 1px solid black;
    
    a {
        text-decoration: none;
        color: $white-color;
    }

    &:hover {
        border: 1px solid $white-color;
    }
}

/* Playlists/tracks/favorites cards */
@mixin cards() {
    background-color: $black-color;
    margin: 20px;
    display: inline-block;
    color: $white-color;
    border: 1px solid black; 
    width: 30%; 

    &:hover {
        border: 1px solid $white-color;
    }
}
// Playlists
.sidebarPlaylists {
    @include cards();
}

// Songs
.sidebarTracks {
    @include cards();
}

// Songs favorites
.sidebarFavorites {
    @include cards();
}


/* No wrap text */
@mixin nowrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

// Playlist name same row 
.playlist-name {
    @include nowrap();
}

// Track name same row
.track-name {
    @include nowrap();
}


/* Play in spotify  */
.play-text {
    display: inline;
    margin-left: 10px;
}

/* Vertical text */
#library-text {
    font-size: 70px;
    color: $black-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    bottom: 0;
    left: 0; 
    transform: rotate(270deg);
    transform-origin: 0 0;
    text-shadow: 0 5px 0 $white-color
}


/* CONTACT FORM */
#contact-page {
    background-color: $green-color;
    color: $white-color;
    text-align: center;
}
.favorites-page {
    background-color: $green-color;
}
#home-page {
    background-color: $green-color;
}

#contact-page {
    h2 {
        margin: 50px 0;
    }
}

#form {
    input {
        margin: 20px 0;
        border-radius: 5px;

    }
    label {
        width: 80px;
    }
}

#contact-container {
    background-color: $black-color;
    padding: 20px;
    margin: 15px;
    height: 95%;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 10px rgb(56, 55, 55);

    &:hover {
        opacity: 1;
    }

    button {
        margin: 20px;
        width: 80px;
        background-color: $green-color ;
        color: $white-color;
        border: none;
        opacity: 0.7;
        text-align: center;
        box-shadow: 0px 0px 8px 3px  gray;

        &:hover {
            opacity: 1;
            transition: 1s ease;
        }
    }
}

.item1 {
    li {
        display: inline-table;
        width: 120px;
        height: 30px;
    }
}
.item2 {
    padding: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
    
    li {
        display: inline-table;
        width: 120px;
        height: 30px;
    }
}
.userInfo {
    ul {
        li {
            list-style-type: none;
        }
    }
}
#dialog {
    text-align: left;
}

// Hide button on desktop
.navbar {
        button {
            display: none
        }
        #myLinks {
            display: none
        }
}


@import "mobile";
