<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Spotify App">
    <meta name="keywords" content="HTML, CSS, JavaScript, jQuery">
    <meta name="author" content="Karlo Tomasic">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="assets/fontawesome/webfonts/all.css"> <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/boostrap/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.css"> <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.structure.css"> <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.theme.css"> <!-- JQUERY UI CSS -->

    <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet"> <!-- GOOGLE FONTS -->

    <link rel="icon" type="image/png" href="favicon.png"> <!-- FAVICON -->

    <link rel="stylesheet" href="css/style.css"> <!-- CUSTOM CSS -->
</head>

<body id="contact-page">
    <div class="container-fluid">
        <!-- NAVIGATION BAR -->
        <div class="row">
            <nav class="navbar navbar-light nav-color navbar-fixed-top">
                <img src="img/spotify_logo.svg" id="navbar-logo" height="30%" width="30%" alt=""></img>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="favorites.html">My Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="contact.html">Contact</a>
                    </li>
                </ul>

                <div id="myLinks">
                    <a href="index.html">Home</a> <span class="vl"></span>
                    <a href="favorites.html">My Favorites</a> <span class="vl"></span>
                    <a href="contact.html">Contact</a>
                </div>
                <button id="hamburger-btn"> <i class="fas fa-bars"></i> </button>

            </nav>
        </div>
        <div class="row">
            <!-- SIDE BAR TITLE-->
            <div class="col-3">
                <h2 id="library-text">CONTACT FORM</h2>
            </div>
            <!-- CONTACT FORM -->
            <div class="col-9">
                <div id="contact-container">
                    <h2>contact us</h2>
                    <form action="" id="form">
                        <label for="firstName">First name:</label> <br>
                        <input type="text" name="firstName" id="firstName"> <br>
                        <span id="firstName-feedback"></span> <br> <br>

                        <label for="lastName">Last name:</label> <br>
                        <input type="text" name="lastName" id="lastName"> <br>
                        <span id="lastName-feedback"></span> <br> <br>

                        <label for="email">Email:</label> <br>
                        <input type="text" name="email" id="email" placeholder="email@example.com"> <br>
                        <span id="email-feedback"></span> <br> <br>

                        <button name="submit" id="submit">Submit</button>
                    </form>

                    <div id="dialog" title="Users">
                        <div class="userInfo"></div>
                    </div>

                    <button id="dialogOpener">Users</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="contactsTemplate">
        <ul id="sortableList">
            
            <% _.each(data.user, function(item, index) { %>
            <li>
                <ul class="item2">
                    <div class="sortables">
                        <li><%= item.firstName %></li>
                        <li><%= item.lastName %></li>
                        <li><%= item.email %></li>  
                        <li id="removeItem"> 
                            <button id="removeUser" data-index="<%= index %>">Remove</button>
                        </li>
                        <i class="fas fa-arrows-alt" id="move-icon"></i>
                    </div>
                </ul>
            </li>
            <% }); %>  
        </ul>
    </script>

    <script src="assets/jquery/jquery.js"></script> <!-- JQUERY -->
    <script src="assets/jquery/jquery-ui.js"></script> <!-- JQUERY UI -->
    <script src="assets/boostrap/bootstrap.bundle.min.js"></script> <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script> <!-- UNDERSCORE JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!-- CUSTOM ALERT BOX -->
    <script src="js/script.js"></script> <!-- CUSTOM JS -->
</body>

</html>