<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Spotify App">
    <meta name="keywords" content="HTML, CSS, JavaScript, jQuery">
    <meta name="author" content="Karlo Tomasic">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="assets/fontawesome/webfonts/all.css"> <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/boostrap/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.css"> <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.structure.css"> <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.theme.css"> <!-- JQUERY UI CSS -->

    <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet"> <!-- GOOGLE FONTS -->

    <link rel="icon" type="image/png" href="favicon.png"> <!-- FAVICON -->
      
    <link rel="stylesheet" href="css/style.css"> <!-- CUSTOM CSS -->
</head>

<body class="favorites-page">
    <div class="container-fluid">
        <!-- NAVIGATION BAR -->
        <div class="row">
            <nav class="navbar navbar-light nav-color navbar-fixed-top">
                <img src="img/spotify_logo.svg" id="navbar-logo" height="30%" width="30%" alt=""></img>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="favorites.html">My Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="contact.html">Contact</a>
                    </li>
                </ul>

                <div id="myLinks">
                    <a href="index.html">Home</a> <span class="vl"></span>
                    <a href="favorites.html">My Favorites</a> <span class="vl"></span>
                    <a href="contact.html">Contact</a>
                </div>
                <button id="hamburger-btn"> <i class="fas fa-bars"></i> </button>
                
            </nav>
        </div>
        <div class="row">
            <!-- SIDE BAR TITLE-->
            <div class="col-3">
                <h2 id="library-text">My favorites</h2>
            </div>
            <!-- FAVORITE SONGS -->
            <div class="col-9" id="favoriti">
            </div>
        </div>
    </div>

    <!-- FAVORITES TEMPLATE -->
    <script type="text/template" id="favoritesTemplate">
        <div class="favorite-cards" id="favorite-links">
            <% _.each(data.favorites, function(item, index) { %>
                <div class="card sidebarFavorites">
                    <iframe src="https://open.spotify.com/embed/track/<%=item.id%>" height="80" width="80"
                    frameborder="0" allowtransparency="true" allow="encrypted-media" class="card-img-top">
                    </iframe>
                <div class="card-body">
                    <p class="card-text track-name"> <%= (index + 1) %>) <%= item.name %></p>
                    <button class="removeSong" data-id="<%= item.id %>">
                        <i class="fas fa-minus-circle remove"></i>
                    </button>
                    <p class="play-text">Remove from favorites</p>
                </div>
            </div>
            <% }); %>
        </div>
    </script>

    <script src="assets/jquery/jquery.js"></script> <!-- JQUERY -->
    <script src="assets/jquery/jquery-ui.js"></script> <!-- JQUERY UI -->
    <script src="assets/boostrap/bootstrap.bundle.min.js"></script> <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script> <!-- UNDERSCORE JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!-- CUSTOM ALERT BOX -->
    <script src="js/script.js"></script> <!-- CUSTOM JS -->

</body>

</html>