<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Spotify App">
    <meta name="keywords" content="HTML, CSS, JavaScript, jQuery">
    <meta name="author" content="Karlo Tomasic">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <link rel="stylesheet" href="assets/fontawesome/webfonts/all.css"> <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/boostrap/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.css"> <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.structure.css"> <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="assets/jquery/jquery-ui.theme.css"> <!-- JQUERY UI CSS -->

    <link rel="preconnect" href="https://fonts.gstatic.com"> <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet"> <!-- GOOGLE FONTS -->

    <link rel="icon" type="image/png" href="favicon.png"> <!-- FAVICON -->

    <link rel="stylesheet" href="css/style.css"> <!-- CUSTOM CSS -->
</head>

<body id="home-page">
    <div class="container-fluid">
        <!-- NAVIGATION BAR -->
        <div class="row">
            <nav class="navbar navbar-light nav-color navbar-fixed-top">
                <img src="img/spotify_logo.svg" id="navbar-logo" height="30%" width="30%" alt=""></img>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="favorites.html">My Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navigation-items" href="contact.html">Contact</a>
                    </li>
                </ul>
                <div id="myLinks">
                    <a href="index.html">Home</a> <span class="vl"></span>
                    <a href="favorites.html">My Favorites</a> <span class="vl"></span>
                    <a href="contact.html">Contact</a>
                </div>
                <button id="hamburger-btn"> <i class="fas fa-bars"></i> </button>
            </nav>
        </div>
        <div class="row">
            <!-- SIDE BAR: CATEGORIES -->
            <div class="col-3 kategorije">
            </div>
            <!-- MUSIC SELECTION -->
            <div class="col-9 playliste pjesme">
            </div>
        </div>
    </div>

    <!-- CATEGORIES TEMPLATE -->
    <script type="text/template" id="categoriesTemplate">
        <div class="card sidebar">
            <ul class="list-group">
                <% _.each(data.categories.categories.items, function(item, index) { %>
                    <li class="list-group-item sidebar-items" id="categories">
                        <a class="category-name" href="#" data-id="<%= item.id %>"> <%= item.name %></a>
                    </li>
                <% }); %>
            </ul>        
        </div>
    </script>

    <!-- PLAYLISTS TEMPLATE -->
    <script type="text/template" id="playlistsTemplate">
        <div class="playlist-cards" id="playlist-links">
            <% _.each(data.playlists.playlists.items, function(item, index) { %>
                <div class="card sidebarPlaylists">
                    <img src="<%= item.images[0].url %>" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text playlist-name" data-id="<%= item.id %>"> <%= (index + 1) %>) <%= item.name %> </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </script>

    <!-- SONGS TEMPLATE -->
    <script type="text/template" id="songsTemplate">
        <div class="track-cards" id="track-links">
            <% _.each(data.songs.items, function(item, index) { %>
                <div class="card sidebarTracks">
                    <iframe src="https://open.spotify.com/embed/track/<%=item.track.id%>" height="80" width="40"
                    frameborder="0" allowtransparency="true" allow="encrypted-media" class="card-img-top">
                    </iframe>
                <div class="card-body">
                    <p class="card-text track-name"> <%= (index + 1) %>) <%= item.track.name %></p>
                    <button class="saveSong" data-track="<%= item.track.id %>">
                        <i class="fas fa-heart" id="heart"></i>
                    </button>
                    <p class="play-text">Add to favorites</p>
                </div>
                
            </div>
            <% }); %>
        </div>
    </script>

    <script src="assets/jquery/jquery.js"></script> <!-- JQUERY -->
    <script src="assets/jquery/jquery-ui.js"></script> <!-- JQUERY UI -->
    <script src="assets/boostrap/bootstrap.bundle.min.js"></script> <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script> <!-- UNDERSCORE JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> <!-- CUSTOM ALERT BOX -->
    <script src="js/script.js"></script> <!-- CUSTOM JS -->
</body>

</html>